* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1400px;
    margin: auto;
}

.hero {
    margin: 50px 0 0 0;
}

.hero .container {
    text-align: center;
}

.hero .container a {
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 10px;
    border: 1px solid white;
    transition: all .5s ease;
    text-decoration: none;
}

.hero .container a:hover {
    background: white;
    color: black;
    border: 1px solid black;
}

.hero .container p:nth-child(1) {
    margin: 0 0 25px 0;
}

.hero .container p:nth-child(2) {
    font-weight: 500;
    font-size: 2em; 
    margin: 0 0 25px 0;
}

.courses {
    margin: 50px 0 0 0;
}

.courses .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    padding: 25px;
}

.coursesItem {
    box-shadow: 0px 0px 5px 5px rgba(0, 0, 0, .2);
    margin: 25px 0;
    width: 30%;
    padding: 25px;
    border-radius: 20px;
}

.coursesItem h3 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 15px 0;
}

.coursesItem p:nth-child(2) {
    color: #3073e8;
    margin: 0 0 20px 0;
}

.coursesItem p:nth-child(3) {
    color: #929292;
    margin: 0 0 25px 0;
}

.coursesItem img {
    width: 100%;
    margin: 0 0 25px 0;
}

.coursesItem a {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    background: black;
    text-decoration: none;
    color: white;
    padding: 10px;
    border-radius: 25px;
    transition: all .5s ease;
    border: 1px solid white;
}

.coursesItem a:hover {
    color: black;
    border: 1px solid black;
    background: white;
}

.courses h3 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    font-size: 36px;
}

.courses .coursesLinks {
    display: flex;
    justify-content: center;
    gap: 32px;
}

.coursesLinks a{
    color: white;
    background-color: black;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid white;
    transition: all .5s ease;
    text-decoration: none;
    font-size: 18px;
}

.coursesLinks a:hover {
    color: black;
    background-color: white;
    border: 1px solid black;
}

@media (max-width: 1295px) {
    .courses .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 30%;
        padding: 25px;
    }

    .hero .container p:nth-child(1) {
        font-size: 14px;
    }
    .hero .container p:nth-child(2) {
        font-size: 27px;
    }

    .courses h3 {
        font-size: 28px;
    }
    .courses .coursesLinks a {
        font-size: 16px;
    }

    .courses .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        width: 100%;
        padding: 25px;
    }

    .coursesItem {
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .coursesItem h3 {
        font-size: 28px;
        font-weight: 600;
        margin: 0 0 15px 0;
    }
    
    .coursesItem p:nth-child(2) {
        color: #3073e8;
        margin: 0 0 20px 0;
    }
    
    .coursesItem p:nth-child(3) {
        color: #929292;
        margin: 0 0 25px 0;
    }
}

@media (max-width: 1116px) {
    .courses .container {
        display: flex;
        justify-content: center;
        gap: 32px;
    }

    .hero .container p:nth-child(1) {
        font-size: 14px;
    }
    .hero .container p:nth-child(2) {
        font-size: 27px;
    }

    .courses h3 {
        font-size: 28px;
    }
    .courses .coursesLinks a {
        font-size: 16px;
    }

    .coursesItem {
        display: flex;
        flex-direction: column;
        width: 350px;
    }
    .coursesItem h3 {
        font-size: 28px;
        font-weight: 600;
        margin: 0 0 15px 0;
    }
    
    .coursesItem p:nth-child(2) {
        color: #3073e8;
        margin: 0 0 20px 0;
    }
    
    .coursesItem p:nth-child(3) {
        color: #929292;
        margin: 0 0 25px 0;
    }
}

@media (max-width: 900px) {
    .hero .container p:nth-child(2) {
        font-size: 24px;
    }
    .hero .container a {
        font-size: 15px;
    }
    .courses h3 {
        display: flex;
        align-self: flex-start;
        font-size: 24px;
    }
    .courses .coursesLinks a{
        font-size: 12px;
    }

    .coursesItem h3 {
        font-size: 24px;
    }
    .coursesItem p:nth-child(2) {
        font-size: 14px;
    }
    .coursesItem p:nth-child(3) {
        font-size: 14px;
    }
    .coursesItem a {
        font-size: 14px;
    }
}

@media (max-width: 798px) {
    .courses .coursesLinks {
        display: flex;
        justify-content: center;
        gap: 0;
    }
}

@media (max-width: 568px) {
    .hero .container p:nth-child(1) {
        font-size: 14px;
   }
   .hero .container p:nth-child(2) {
        font-size: 19px;
   }
   .hero .container a {
    font-size: 14px;
   }

   .courses h3 {
    font-size: 19px;
   }
   .courses .coursesLinks a {
        display: flex;
        align-items: center;
        font-size: 12px;
   }

   .container .coursesItem h3 {
    display: flex;
    align-self: flex-start;
    font-size: 16px;
   }
   .container .coursesItem p:nth-child(2) {
        font-size: 12px;
   }
   .container .coursesItem p:nth-child(3) {
    font-size: 12px;
    }
    .container .coursesItem a {
        font-size: 12px;
    }
}

@media (max-width: 496px) {
    .hero .container a {
        font-size: 10px;
       }

    .courses h3 {
        font-size: 20px;
       }
       .courses .coursesLinks a {
            font-size: 10px;
       }
}

@media (max-width: 414px) {
    .courses .coursesLinks a {
        font-size: 7px;
   }
}

